html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .card {
    box-shadow: 4px 8px 12px 1px #00000063;
    background-color: #006eff;
    color: rgb(228, 228, 228);
  }

  .toast {
    box-shadow: 4px 8px 12px 1px #00000063;
  }

  a{
    color: #777;
  }
}
